-i https://pypi.python.org/simple/
alembic==1.5.8
blinker==1.4
click==7.1.2
cssmin==0.2.0
email-validator==1.1.2
flask-assets==0.12
flask-caching==1.7.2
flask-ckeditor==0.4.3
flask-debugtoolbar==0.10.1
flask-dropzone==1.5.3
flask-mail==0.9.1
flask-migrate==2.5.2
flask-sqlalchemy==2.5.1
flask-wtf==0.14.2
flask==1.0
greenlet==1.0.0 ; python_version >= '3'
itsdangerous==1.1.0
jinja2==2.11.3
jsmin==2.2.2
mako==1.1.4
markupsafe==1.1.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-http-client==3.3.2
redis==3.2.1
sendgrid==6.0.5
six==1.15.0
sqlalchemy==1.4.3
webassets==2.0
werkzeug==0.16.1
wtforms==2.3.3
